{% extends 'base.html' %}

{% block title %}
    Proveedores
{% endblock title %}


{% block content %}
<div class="mt-3 container">
    <div class="card text-bg-dark mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <a name="" id="" class="btn btn-success" onclick="add_proveedor('{% url 'proveedores_app:add_proveedores' %}')" role="button">Agregar Proveedor</a>
                </div>
                
                <div class="col-6">
                    <form class="d-flex" role="search">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="Buscar Proveedor" aria-label="Search" name="kword" id="kword">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="card-body">
            <h4 class="card-title">Proveedor</h4>
            
            <div class="table-responsive">
                <table class="table table-secondary">
                    <thead>
                        <tr>
                            <th scope="col">NIT</th>
                            <th scope="col">Razón Social</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col" class="text-center">Detalles</th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        {%for p in proveedor%}
                        <tr>
                            <td>{{p.nit}}</td>
                            <td>{{p.prov_nombre}}</td>
                            <td>{{p.prov_telefono}}</td>
                            <td class="">
                                <a class="btn btn-warning" onclick="update_proveedor('{% url 'proveedores_app:update_proveedores' p.prov_id %}')" type="button"><i class="fa-regular fa-pen-to-square"></i></a>
                                |
                                <a class="btn btn-danger" onclick="delete_proveedor('{% url 'proveedores_app:delete_proveedores' p.prov_id %}')" type="button"><i class="fa-solid fa-trash-can"></i></a>
                                
                            </td>
                            
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!--Si existe paginacion entonces mostrará el menu-->
            {% if is_paginated %}  
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    <!--Si existe una pagina anterior mostrará la opcion de atras-->
                    {% if page_obj.has_previous %}   
                        <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    <!--Itera dentro del objeto paginator para mostrar cuantas paginas existen-->
                    {% for pagina in paginator.page_range %}
                        <!--Si la pagina es el mismo numero del objeto, entonces pinte la casilla en azul-->
                        {% if pagina == page_obj.number %} 
                            <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a></li> 
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a></li>
                        {% endif %}    
                    {% endfor %}
                     
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
</div> 
<div class="modal fade" id="add_proveedor" role="dialog"></div>
<div class="modal fade" id="delete_proveedor" role="dialog"></div>
<div class="modal fade" id="update_proveedor" role="dialog"></div>

{% endblock content %}

{% block extrajs %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script>
        function add_proveedor(url){
            var $ = jQuery.noConflict();
            $('#add_proveedor').load(url,function(){
                $(this).modal('show');
            }); 
        }

        function delete_proveedor(url){
            var $ = jQuery.noConflict();
            $('#delete_proveedor').load(url,function(){
                $(this).modal('show');
            }); 
        }

        function update_proveedor(url){
            var $ = jQuery.noConflict();
            $('#update_proveedor').load(url,function(){
                $(this).modal('show');
            }); 
        }
    </script>
{% endblock  %}
    