<div class="modal-dialog modal-md" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">Registrar Desinfección</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'mp_app:updateDesinfeccion_mp' object.id %}" id="desinfeccionUpdateForm">
          {%csrf_token%}
          <div class="card text-center text-bg-dark" style="--bs-bg-opacity: .5;">
            <div class="card-body">
              <h5 class="card-title">Lote: {{form.mp_lote}}</h5>
              <p class="card-text">
                <div class="form">
                  <label class="form-label">
                    Agente Desinfectante: 
                    {{form.des_nombre}}
                  </label>
                </div>
                <div class="form">
                  <label class="form-label">
                    Concentración: 
                    {{form.concentracion}}
                  </label>
                </div>
                <div class="form">
                  <label class="form-label">
                    Tiempo de inicio: 
                    {{form.tiempo_inicio}}
                  </label>
                </div>
                <div class="form">
                  <label class="form-label">
                    Tiempo fin de desinfección: 
                    {{form.tiempo_fin}}
                  </label>
                </div>
                
                <div class="form">
                  <label for="form-label">
                    Observaciones:
                    {{form.obsevacion}}
                  </label>
                </div>
              </p>
          </div>
          <div class="card-footer text-body-secondary">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a type="button" class="btn btn-danger" href="{% url 'mp_app:lista_mp' %}">Cancelar</a>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>